{% extends 'layout.html' %}

{% block styles %}
{% endblock %}

{% block content %}
    <h5>
        <a href="/profile">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/about">About us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/help">Help</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/settings">Settings</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/logout">Log Out</a>
    </h5>
    <div style="text-align: right;">
        Search User &nbsp;&nbsp;&nbsp;
        <form action="/search_user" method="POST">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div style="text-align: right;">
        Search Post &nbsp;&nbsp;&nbsp;
        <form action="/search_post" method="POST">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="col-lg-9" style="text-align: center;">
        <br>
        <form method="POST" action="/feed">
            <input type="submit" value="Create new Post" class="btn btn-primary">
        </form>
        <h1>Feed</h1>
        {% if posts|length == 0 %}
        <h3>There are no posts to display</h3>
        {% endif %}
        {% if posts|length > 0 %}
        {% for post in posts %}
            <div class="col-lg-4">
                <p><b>#{{ loop.index }}</b></p>
                <p class="title">
                    <b>
                        <a href="/post/{{ post.post_id }}">
                            {{ post.title }}
                        </a>
                    </b>
                </p>
                <div>
                    <a href="/post/{{ post.post_id }}">
                        <img src="/static/{{ post.image }}" alt="no image" width="200" height="200">
                    </a>
                </div>
                <div class="content">
                    <p>{{ post.description }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-lg-3" style="text-align: center;"><br><br>
        <h2>Recommended to follow:</h2>
        {% if not recommended %}
        <h4>No one to recommend</h4>
        {% endif %}
        {% if recommended %}
        {% for recommend in recommended %}
        <a href="/user/{{ recommend.user_id }}">{{ recommend.username }}{% if recommend.level == 2 %}&nbsp;<b>[MODERATOR]</b>{% endif %}
        {% if recommend.level == 3 %}&nbsp;<b>[ADMINISTRATOR]</b>{% endif %}
        {% if recommend.level == 0 %}&nbsp;<b>[BANNED]</b>{% endif %}</a><br>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}